.footer-container {
  height:100px;
  background-color:#000;
  border-top:2px solid #e1a108;
  font-size:14px;
  text-align:center;
  color:#fff;

  p {
    line-height:100px;
    margin-bottom:0px;
  }
}
